<main id="menu">
    <div>
        <a href="/blog/" id="menu-bg-accueil"><span>Digressions</span></a>
        <a href="/bibliographie/" id="menu-bg-livres"><span>Livres</span></a>
        <a href="/tag/carnet-de-route" id="menu-bg-carnets"><span>Carnets</span></a>
        <a href="/tag/borntobike/" id="menu-bg-bike"><span>Vélo</span></a>
    </div>

    <hr>
    <h1>Thématiques</h1>
    <ul>
    <li><a href="/tag/netlitterature/">NetLittérature</a></li>
    <li><a href="/tag/netculture/">NetCulture</a></li>
    <li><a href="/tag/edition/">Édition</a></li>
    <li><a href="/tag/ia/">IA</a></li>
    <li><a href="/tag/digest/">De ma terrasse</a></li>
    <li><a href="/series/">•••</a></li>
    </ul>
    <hr>
    <h1>Liens</h1>
    <ul>
    <li><a href="/page/informations/">Informations</a></li>
    <li><a href="/page/abonnement-par-mail/">Newsletters</a></li>
    <li><a href="/page/rss/">RSS</a></li>
    <li><a href="/page/mail/">Contacts</a></li>
    <li><a href="/page/portraits/">Portraits</a></li>
    <li><a href="/page/en-librairie/">En librairies</a></li>
    <li><a href="/archives/">Archives</a></li>
    <li><a href="https://727bikepacking.fr/">727 bikepacking</a></li>
    <li><a href="/page/informations/#links">•••</a></li>
    </ul>
    <hr>
    <p></p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" class="menufooter">(cc)</a>&#8239;<a href="/page/informations/">Thierry&#8239;Crouzet</a></div><p>
</main>