<div class="sharemain">
    <div class="share">
        <div class="crunchify-social"><a class="icon_com icon" href="/mail/" target="_blank"
                title="Envoyer un commentaire"></a><a class="icon_mail icon"
                href="mailto:?subject={{ post.title | url_encode }}&body=Regarde: {{ post.url }}"
                title="Partager par mail"></a><a class="icon_share icon"
                href="javascript:void(0);" onclick="copyText()" title="Partager"></a>
        </div>
    </div>
</div>
