 @font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/inter-v20-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v20-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/inter-v20-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bitter-v40-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/bitter-v40-latin-italic.woff2') format('woff2');
}

::before,::after{box-sizing:border-box}
html{font-family: "Bitter", "New York", "Charter", "Noto Serif", 'Bitstream Charter', 'Sitka Text', "Courier New", Courier, serif;-webkit-text-size-adjust:100%;tab-size:4}
body{margin:0}
button,input,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}
button,[type='button'],[type='submit']{appearance:button}

:root {
  --font-headings: "Inter", "San Francisco",'Segoe UI', "Roboto", system-ui, "BlinkMacSystemFont", Helvetica,Arial,system-ui,sans-serif;
  --color-bg: #FFF;
  --color-contrast: #1A1C18;
  --color-medium: #aaa;
  --color-form: #31312F;
  --font-size: 1.13rem;
  --line-height: calc(1ex/0.32);
  --font-size-small: 1rem;
  --font-size-title: calc(var(--font-size)*2.4);
  --font-size-h3: 1.7rem;
  --max-width: 40rem;
  --max-width-wide: 60rem;
  --page-gutter: 1rem;
  --top-height: 3rem;
}

html {
  box-sizing: border-box;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size);
  color: var(--color-contrast);
  background-color: var(--color-bg);
}
 
button,input,select,textarea,label{font-family:var(--font-headings);color:var(--color-form)}
h1,h2,h3,h6,nav,header{font-family:var(--font-headings);font-weight:bold}
h4{color:var(--color-form);font-weight:bold}

button,a{cursor:pointer}
a,a:visited,a:active,a:hover{color:inherit;text-decoration:none;border:none}

/* Header */
header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  align-items: baseline;
  display: flex;
  gap: 0.8rem;
  padding-inline: 0.6rem;
  background: var(--color-bg);
  z-index: 99;
  font-weight: normal;
  padding-top: 0.5rem;
}

header > a[aria-label="Menu"]::after {
  content: "\e9bd";
  font: 700 1.2em/1 icomoon !important;
  color: var(--color-medium);
}

header > a[aria-label="Accueil"]{
  color: var(--color-contrast);
  font-size: 1.35rem;
}

header > a[aria-label="Recherche"]{
  margin-left: auto;
  margin-top: 0.3rem;
}
header > a[aria-label="Recherche"]::after {
  content: "\e986";
  font: 700 1.2em/1 icomoon !important;
  color: var(--color-medium);
}

/* Article */
main{margin-top: var(--top-height)}

article header{color:var(--color-contrast);display:contents}

article header figure {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-wide);
  text-align: center;
}

article header figure img {
  width:100%;
  height:70vh;
  object-fit: cover;
}
.poster-img-book{object-fit: contain}

main[itemtype$="CollectionPage"] article img.poster-img-book-small{
  width: 100%;
  height: auto;
  aspect-ratio: 3/4.5;
  border: 1pt solid var(--color-medium);
}

h1{
  text-align: center;
  font-size: var(--font-size-title);
  line-height: 1.1;
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--page-gutter);
}

nav{
  margin-top: 1rem;
  text-align: center;
  font-weight: normal;
}
nav a.prev{margin-right: 0.5rem}
nav a.next{margin-left: 0.5rem}

/* Content */
p, li{
  font-size: var(--font-size);
  line-height: var(--line-height);
  max-width: var(--max-width);
  margin: 1rem auto 0 auto;
  padding: 0 var(--page-gutter);
  overflow-wrap: break-word;
}

section[itemprop="articleBody"]>p:first-child::first-letter {
  font-family: var(--font-headings);
  font-weight: 700;
  font-size: large;
}

pre{
  max-width: var(--max-width);
  margin: 1rem auto 0;
  padding: 0 var(--page-gutter);
  color: var(--color-bg);
}

ul, ol{
  max-width: var(--max-width);
  margin: 0 auto;
}

ul{
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 1rem;
}

ul li {
  position: relative;
  padding-left: 1.5em;
}

ul li::before {
  content: "•";
  font-size: 2rem;
  position: absolute;
  left: -0.5rem;
  color: var(--color-medium);
}

ol{list-style-type:decimal}
li p{margin:0;padding:0}

article section a{
  background: linear-gradient(to bottom, var(--color-medium) 95%, var(--color-medium) 100%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 calc(100% - 0.1ex);  
}

blockquote{margin:auto;max-width:var(--max-width);font-style:italic}
blockquote p{margin:1rem;font-style:italic}

article section figure{
  display: block;
  margin: 1.6rem auto;
  max-width: var(--max-width-wide);
  text-align: center;
}
article section figure img{
  border:1px solid #ccc;
  width: 100%;
  height: auto;
}
article section figure img[src$=".png"],
article section figure img[src$=".gif"],
article section figure img.small{
  max-width: var(--max-width);
}

figcaption{
  font-family: var(--font-headings);
  font-weight: normal;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.6em;
  margin-top: -0.5rem;
}
figcaption.legend-center{text-align: center;padding: 0}

article section h2,article section h3,article section h4{
  max-width: var(--max-width);
  margin: 1.6rem auto 0;
  padding: 0 var(--page-gutter);
  line-height: var(--line-height);
}

article section h2,article section h3{font-size: var(--font-size-h3)}
article section h4{font-size: smaller}
article section h5{text-align: right;font-size: var(--font-size)}

article section hr{
  width: 10ch;
  margin:2rem auto;
  border: 1px solid var(--color-medium);
}

article section iframe{
  margin:auto;
  padding:1rem 0;
  display: block;
  width: var(--max-width)
}

code{
  white-space: pre-wrap;
  display: block;
  padding: 1rem;
  background-color: var(--color-form);
  color: var(--color-bg);
  border-radius: 4px;
  font-family: 'Monaco', 'Consolas', monospace;
  font-size: 0.8em;
  overflow-x: auto;  
}

/* Collection Pages */
main[itemtype$="CollectionPage"] {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--top-height) auto 0;
  max-width: 90rem;
  padding: 0 var(--page-gutter);
}

main[itemtype$="CollectionPage"] nav *{
    margin:0;
}

main[itemtype$="CollectionPage"] nav{
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 0 1rem;
}

main[itemtype$="CollectionPage"] article{
  display:inline-block;
  position:relative;
  width:33%;
  max-width: none;
  min-width: 10rem;
  min-height: 13rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  text-align: left;
}

main[itemtype$="CollectionPage"] article img{
  object-fit: cover;
  width:100%;
  height:10rem;
  margin:0;
  background-color:var(--color-medium)
}

main[itemtype$="CollectionPage"] article img.resume-img{height:12rem}

main[itemtype$="CollectionPage"] data{
  font-family: var(--font-headings);
  font-weight: bold;
  text-align: center;
  font-size: 1.35rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-contrast);
  color: var(--color-bg);
  min-width: 2rem;
}

main[itemtype$="CollectionPage"] h2{
  font-size: var(--font-size);
  font-weight: normal;
  margin: 0;
}

main[itemtype$="CollectionPage"] h3{
  display: inline;
  font-size: 1.2rem;
}

/* Books */
article[itemtype$="Book"] > section[itemprop="articleBody"] > h2:first-of-type {
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--page-gutter);
  text-align: center;
  font-size: var(--font-size-h3);
  font-weight: normal;
}

h6{
  max-width: var(--max-width);
  font-size: var(--font-size);
  text-align: center;
  margin: 0.5rem auto 0;
  padding: 0 var(--page-gutter);
}

.book_genre{color:var(--color-medium);font-variant: small-caps}

/* Home */
main[itemtype$="AboutPage"]{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

main[itemtype$="AboutPage"] section h2{
  margin: 2rem 0 0.5rem;
}

main[itemtype$="AboutPage"] section h3{
  font-weight: normal;
  margin: 0;
}

/* Footer & Social */
footer section {
  display: flex;
  width: 100%;
  max-width: var(--max-width);
  margin: 1rem auto;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

footer section button,
footer section a,
footer section label {
  display: inline;
  width: auto;
  text-align: center;
  background: transparent;
  border: none;
}

label.icon_com:before{color:var(--color--social);font: 400 1.3rem/1 icomoon!important;content:'\e96c'}
button.icon_share:before{color:var(--color--social);font: 400 1.4rem/1 icomoon!important;content:'\ea82'}
a.icon_download:before{color:var(--color--social);font: 400 1.4rem/1 icomoon!important;content:'\e9c2'}
a.icon_friends:before{color:var(--color--social);font: 400 1.4rem/1 icomoon!important;content:'\e972'}

div.comments{
  display: none;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto 1rem;
}

.com-toggle:checked ~ div.comments {
  display: block !important;
}

div.comments form{margin-top: 1rem;}

div.comments form input[type="email"],
div.comments form input[type="text"] {
  width: 50%;
  box-sizing: border-box;
}
div.comments form textarea {
  width: 100%;
  box-sizing: border-box;
}
div.comments form input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}
div.comments form button, [type='button'], [type='submit'] {
    display: block;
    background-color: var(--color-medium);
}

div.comments h5{text-align: left;font-weight: bold;font-family: var(--font-headings);}

/* Newsletter */
footer > div:last-of-type {
  font-family: var(--font-headings);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}

footer > div:last-of-type a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #e30613;
  color: var(--color-bg);
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 1rem;
  border: none;
}

.link-background{background: #7700ff !important}

/* Menu */
#menu{
  margin: var(--top-height) 0 0 0;
  padding: 0 var(--page-gutter);
  font-family: var(--font-headings);
}

#menu hr{
  margin: 1.5rem 0;
  border: 1px solid var(--color-contrast);
}

#menu h1{
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: left;
}

#menu ul{margin: 0;padding: 0;max-width: 100%;}

#menu ul li{
  font-family: var(--font-headings);
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#menu ul li::before {content: none}

/* Search */
#search{
font-family: var(--font-headings);
margin-top: var(--top-height);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 60vh;
text-align: center;
}

#search ul li{
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#search ul li::before {content: none}


/* Media Queries */
/* Petits écrans (moins de 40ch ≈ 320-400px) */
@media (max-width: 40ch){
  :root{--font-size: 1rem}
  label{margin-right: 0.5em}
}
 

/* Écrans moyens (moins de 70ch ≈ 560-700px) - Mobile/Tablette portrait */
@media (max-width: 70ch){
  article header figure img{height:40vh}
  h1 {font-size:calc(var(--font-size)*2)}
  main[itemtype$="CollectionPage"] nav{gap: 0.5rem;justify-content: flex-start}
  main[itemtype$="CollectionPage"] nav h1{padding: 0;font-size: 1.2rem}
  #menu div{display: block}
  #menu ul li {display: block}
  #menu div a{width: 100%;min-height: 15vh;margin-bottom: 1em}
  iframe{width: 100%}
  main[itemtype$="CollectionPage"] nav{gap: 0.5rem;font-size: smaller}
  main[itemtype$="CollectionPage"] article{width: 100%}
}

@media (min-width: 120ch){
  main[itemtype$="CollectionPage"] article{width: 24%}
}