<div style="position: relative;">
  <iframe 
    src="https://tcrouzet.substack.com/embed" class="substack-iframe"
    frameborder="0" 
    scrolling="no">
  </iframe>
  
  <div class = "substack-hide"></div>
</div>