<div id="content" role="main">

<div class="poster-title poster-title-center">
<div class="poster-menu">
    <h1 itemprop="headline" id="title">{{ post.title }}</h1><a href="/blog/">Blog</a><a
        href="/tag/borntobike/">Vélo</a><a href="/series/">•••</a>
</div>
</div>

<article>

{% comment %} $mynav= new tcrouzet_navigation($wp_query);
$mynav->build_poster();
$mynav->poster=false;
tcrouzet_poster_title($mynav); {% endcomment %}

<div class="front maxContainerWidth pageGutter infinite">

{{ list }}

</div> <!--front-->
</article> <!--article-->
</div> <!--content-->

<a href="{{ post.next_url }}"><div id="loadMore" next-url="{{ post.next_url }}"></div></a>