{% assign mail_path = blog.template  | append: '/newsletter.liquid' %}

<main itemscope itemType="https://schema.org/CollectionPage">

    <nav>
        {% for menu in post.menu %}
            {% if forloop.index == 1 %}
                <h1 itemprop="headline">{{ menu.title }}</h1>
            {% else %}
                <a href="{{ menu.url }}">{{ menu.title }}</a>
            {% endif %}
        {% endfor %}
    </nav>

    {{ list }}

</main>