<main id="search">

    <form action="https://cse.google.com/cse/publicurl" method="get" target="_blank">
        <input type="hidden" name="cx" value="d5dc254fba5984394" />
        <input type="text" name="q" placeholder="Rechercher..." required />
        <button type="submit">Rechercher</button>
    </form>

    <ul>
    <li><a href="/archives/">Archives</a></li>
    <li><a href="/series/">Séries</a></li>
    </ul>
        
</main>