<section>
  {% if post.github != blank %}
        <a class="icon_download" href="{{ post.github }}" download title="Télécharger" aria-label="Télécharger en Markdown"></a>
  {% endif %}
  <a class="icon_friends" href="/page/lectures/" title="Sites amis" aria-label="Afficher les sites amis"></a>
</section>