body{margin:0}
button,input,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}

:root {
  --font-headings: Charter, Georgia, serif;
  --font-normal: system-ui, sans-serif;
  --color-bg: #fcf6e4;
  --color-contrast: #0e2a35;
  --color-medium: #859496;
  --color-light: #ece7d7;
  --color-link: #bc532a;
  --color-link-text: #bc532a;
  --font-size: 1.18rem;
  --line-height: calc(1ex/0.32);
  --font-size-h1: 2.7rem;
  --font-size-h3: 1.7rem;
  --max-width: 40rem;
  --max-width-wide: 55rem;
  --page-gutter: 1rem;
  --top-height: 3rem;
}

html {
  font-family: var(--font-normal);
  line-height: var(--line-height);
}

body {
  color: var(--color-contrast);
  background-color: var(--color-bg);
}
 
button,input,select,textarea,label{color:var(--color-contrast)}
h1,h2,h3,h6{font-family:var(--font-headings);font-weight:bold}
h4{color:var(--color-contrast);font-weight:bold}

a,a:visited,a:active,a:hover{color:inherit;text-decoration:none;border:none}

/* Header */
header {
  padding: 0.5rem var(--page-gutter);
  background-color: var(--color-light);
}

header > a {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0.8rem;
}

header > a[aria-label="Menu"] {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--color-medium);
}

header > a[aria-label="Accueil"] {
  color: var(--color-contrast);
  font-size: 1.35rem;
}

header > a[aria-label="Recherche"] {
  float: right;
  margin-right: 0;
  margin-left: 0;
  font-size: 2.6em;
  font-weight: bold;
  color: var(--color-medium);
}

/* Article */
article header{
  padding: 0.5rem var(--page-gutter);
  display: block;
  text-align:center;
}

h1{
  font-size: var(--font-size-h1);
  line-height: 1;
  max-width: var(--max-width-wide);
  margin: 1rem auto;
  padding: 0 var(--page-gutter);
  font-weight: lighter;
}

nav{
  font-weight: normal;
  font-variant: small-caps;
  color: var(--color-medium);
}
nav a.prev{margin-right: 0.5rem}
nav a.next{margin-left: 0.5rem}
nav span{font-weight: bold;}

/* Content */
p, li{
  font-size: var(--font-size);
  line-height: var(--line-height);
  max-width: var(--max-width);
  margin: 1rem auto 0 auto;
  padding: 0 var(--page-gutter);
}

[itemprop="articleBody"]>p:first-child::first-letter {
  font-weight: 700;
  font-size: large;
}

pre{
  max-width: var(--max-width);
  margin: 1rem auto 0;
  padding: 0 var(--page-gutter);
  color: var(--color-bg);
}

ul, ol{
  max-width: var(--max-width);
  margin: 0 auto;
}

/* ul{
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 1rem;
} */

/* ul li {
  position: relative;
  padding-left: 1.5em;
} */

ol{list-style-type:decimal}
li p{margin:0;padding:0}

article [itemprop="articleBody"] a{
  color: var(--color-link-text);
}

blockquote{
  margin:auto;
  max-width:var(--max-width);
  font-style:italic;
  border-left: 0.2rem var(--color-link) solid;
}
blockquote p{margin:1rem;font-style:italic}

figure {
  display: block;
  margin: 1.6rem auto;
  max-width: var(--max-width-wide);
  text-align: center;
}

figure img {
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
}

figure img[src$=".png"],
figure img[src$=".gif"],
figure img.portrait {
  max-width: var(--max-width);
}

figcaption {
  font-weight: normal;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.6em;
  margin-top: -0.5rem;
  line-height: normal;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-wide);
}

/* Appliquer les mêmes max-width à figcaption */
figure img[src$=".png"] ~ figcaption,
figure img[src$=".gif"] ~ figcaption,
figure img.portrait ~ figcaption {
  max-width: var(--max-width);
}


article [itemprop="articleBody"] h2,article [itemprop="articleBody"] h3,article [itemprop="articleBody"] h4{
  max-width: var(--max-width);
  margin: 1.6rem auto 0;
  padding: 0 var(--page-gutter);
}

article [itemprop="articleBody"] h4{font-size: smaller}
article [itemprop="articleBody"] h5{text-align: right;font-size: var(--font-size)}

article [itemprop="articleBody"] hr{
  margin:2rem auto;
  border: 1px solid var(--color-medium);
  max-width: var(--max-width);
}

iframe{
  margin:auto;
  padding:1rem 0;
  display: block;
}

code{
  white-space: pre-wrap;
  display: block;
  padding: 1rem;
  background-color: var(--color-contrast);
  color: var(--color-bg);
  font-family: monospace;
  font-size: 0.8em;
}

/* Collection Pages */
main[itemtype$="CollectionPage"] nav *{
    margin:0;
}

main[itemtype$="CollectionPage"] nav{
  background-color: var(--color-light);
  padding: 1rem var(--page-gutter) 2rem;
  text-align: center;
}

main[itemtype$="CollectionPage"] nav h1{
  display: inline;
}
main[itemtype$="CollectionPage"] nav a{
  margin-right: 1rem;
}

main[itemtype$="CollectionPage"] article{
  max-width: var(--max-width);
  padding: 0 var(--page-gutter);
  margin: 2rem auto;
}

main[itemtype$="CollectionPage"] data{
  font-weight: bold;
  background-color: var(--color-medium);
  color: var(--color-bg);
  padding: 0.1rem;
}

main[itemtype$="CollectionPage"] h2{
  font-size: var(--font-size-h3);
  font-weight: normal;
  margin: 0;
  line-height: 1.2;
}

main[itemtype$="CollectionPage"] h3{
  display: inline;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  font-variant: small-caps;
  color: var(--color-medium);
  font-family: var(--font-normal);
  font-weight: normal;
}

/* Books */

figure img.book{
  max-width: 40ch;
}

h6{
  max-width: var(--max-width);
  font-size: var(--font-size);
  text-align: center;
  margin: 0.5rem auto 0;
  padding: 0 var(--page-gutter);
}

/* Home */
main[itemtype$="AboutPage"] {
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main[itemtype$="AboutPage"] section h2{
  font-variant: small-caps;
  font-weight: normal;
  color: var(--color-medium);
  font-family: var(--font-normal);
  margin: 2rem 0 0.5rem;
}

main[itemtype$="AboutPage"] section h3{
  font-size: var(--font-size-h3);
  font-weight: normal;
  margin: 0;
}

/* Footer & Social */
footer > div:first-of-type {
  width: 100%;
  max-width: var(--max-width);
  margin: 1rem auto;
  text-align: center;
}

footer > div:first-of-type a,
footer > div:first-of-type label {
  display: inline;
  width: auto;
  text-align: center;
  margin: 0 1rem;
}

div.comments{
  display: none;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto 1rem;
}

.com-toggle:checked ~ div.comments {
  display: block;
}

div.comments form{margin: 1rem auto};

div.comments form input[type="email"],
div.comments form input[type="text"] {
  width: 50%;
}
div.comments form textarea {
  width: 100%;
}
div.comments form input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}
div.comments form fieldset {border:none;margin:0;padding: 0;}

div.comments h5{text-align: left;font-weight: bold;font-family: var(--font-headings);}


/* Menu */
#menu{
  margin: var(--top-height) 0 0 0;
  padding: 0 var(--page-gutter);
}

#menu hr{
  margin: 1.5rem 0;
  border: 1px solid var(--color-contrast);
}

#menu h1{
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: left;
}

#menu ul{margin: 0;padding: 0;max-width: 100%;}

#menu ul li{
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#menu ul li {
  list-style-type: none;
}

/* Search */
#search{
max-width: var(--max-width);
padding: var(--top-height) var(--page-gutter) 0;
margin:0 auto;
height: 60vh;
text-align: center;
max-width: var(--max-width);
}

#search form{
  text-align: center;
}
#search form input[type="text"] {
  width:100%;
}

#search ul li{
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#search ul li::before {
  list-style-type: none;
}


/* Media Queries */
/* Écrans moyens (moins de 70ch ≈ 560-700px) - Mobile/Tablette portrait */
@media (max-width: 70ch){
  h1 {font-size:calc(var(--font-size-h1)*0.7)}
  nav{font-size: smaller}
  main[itemtype$="CollectionPage"] nav h1{padding: 0}
  main[itemtype$="AboutPage"] section h3{font-size: calc(var(--font-size-h3)*0.8);}
  #menu div{display: block}
  #menu ul li {display: block}
  #menu div a{width: 100%;min-height: 15vh;margin-bottom: 1em}
  iframe{width: 100%}
  main[itemtype$="CollectionPage"] nav{font-size: smaller}
  div.comments form{margin: 1rem auto;padding: 0 var(--page-gutter);}
}