::before,::after{box-sizing:border-box}
html{font-family: "New York", "Charter", "Noto Serif", 'Bitstream Charter', 'Sitka Text', "Courier New", Courier, serif;-webkit-text-size-adjust:100%;tab-size:4}
body{margin:0}
button,input,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,select{text-transform:none}
button,[type='button'],[type='submit']{appearance:button}

:root {
  --font-headings: "San Francisco",'Segoe UI', "Roboto", system-ui, "BlinkMacSystemFont", Helvetica,Arial,system-ui,sans-serif;
  --color-bg: #1A1C18;
  --color-contrast: #eee;
  --color-medium: #aaa;
  --color-light: #ddd;
  --color-form: #31312F;
  --font-size: 1.13rem;
  --line-height: calc(1ex/0.32);
  --font-size-small: 1rem;
  --font-size-title: calc(var(--font-size)*2.4);
  --font-size-h3: 1.7rem;
  --max-width: 40rem;
  --max-width-wide: 60rem;
  --page-gutter: 1rem;
  --top-height: 3rem;
}

html {
  box-sizing: border-box;
  line-height: var(--line-height);
  text-rendering: optimizeLegibility;
}
 
body {
  font-size: var(--font-size);
  color: var(--color-contrast);
  background-color: var(--color-bg);
}
 
button,input,select,textarea,label{font-family:var(--font-headings);color:var(--color-form)}
h1,h2,h3,h6,nav,header{font-family:var(--font-headings);font-weight:bold}
h4{color:var(--color-form);font-weight:bold}

button,a{cursor:pointer}
a,a:visited,a:active,a:hover{color:inherit;text-decoration:none;border:none}

/* Header */
header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  align-items: center;
  height: var(--top-height);
  display: flex;
  gap: 0.8rem;
  padding-inline: 0.6rem;
  background: var(--color-bg);
  z-index: 99;
}

header > a[aria-label="Menu"]::after {
  content: "\2630";
  font-size: 1.4em;
  color: var(--color-medium);
}

header > a[aria-label="Accueil"]{
  color: var(--color-contrast);
  font-size: 1.35rem;
}

header > a[aria-label="Recherche"]{
  margin-left: auto;
  margin-top: 0.3rem;
}
header > a[aria-label="Recherche"]::after {
  content: "\1F50D";
  font-size: 1.2em;
  color: var(--color-medium);
}

/* Article */
main{margin-top: var(--top-height)}

article header{color:var(--color-contrast);display:contents}

article header figure {
  margin: 0 auto;
  max-width: var(--max-width-wide);
  text-align: center;
}

article header figure img {
  width:100%;
  height:70vh;
  object-fit: cover;
}
.poster-book{object-fit: contain}

main[itemtype$="CollectionPage"] article img.poster-img-book-small{
  width: 100%;
  height: auto;
  aspect-ratio: 3/4.5;
  border: 1pt solid var(--color-medium);
}

h1{
  text-align: center;
  font-size: var(--font-size-title);
  line-height: 1.1;
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--page-gutter);
}

nav{
  margin-top: 2rem;
  text-align: center;
  font-weight: normal;
}
nav a.prev{margin-right: 0.5rem}
nav a.next{margin-left: 0.5rem}

/* Content */
p, li{
  font-size: var(--font-size);
  line-height: var(--line-height);
  max-width: var(--max-width);
  margin: 1rem auto 0 auto;
  padding: 0 var(--page-gutter);
  overflow-wrap: break-word;
}

section[itemprop="articleBody"]>p:first-child::first-letter {
  font-family: var(--font-headings);
  font-weight: 700;
  font-size: large;
}

pre{
  max-width: var(--max-width);
  margin: 1rem auto 0;
  padding: 0 var(--page-gutter);
  color: var(--color-bg);
}

ul, ol{
  max-width: var(--max-width);
  margin: 0 auto;
}

ul{
  list-style-type: none;
  padding-left: 2rem;
  padding-right: 1rem;
}

ul li {
  position: relative;
  padding-left: 1.5em;
}

ul li::before {
  content: "•";
  font-size: 2rem;
  position: absolute;
  left: -0.5rem;
  color: var(--color-medium);
}

ol{list-style-type:decimal}
li p{margin:0;padding:0}

article section a{
  background: linear-gradient(to bottom, var(--color-medium) 95%, var(--color-medium) 100%);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 calc(100% - 0.1ex);  
}

blockquote{margin: 1rem auto 0;max-width:34em;font-style:italic}
blockquote p{margin:0 2em;font-style:italic}

article section figure{
  display: block;
  margin: 1.6rem auto;
  max-width: var(--max-width-wide);
  text-align: center;
}
article section figure img{
  border:1px solid #ccc;
  width: 100%;
  height: auto;
}
article section figure img[src$=".png"],
article section figure img[src$=".gif"],
article section figure img.small{
  max-width: var(--max-width);
}

figcaption{
  font-family: var(--font-headings);
  font-weight: normal;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.6em;
  margin-top: -0.5rem;
}
figcaption.legend-center{text-align: center;padding: 0}

article section h2,article section h3,article section h4{
  max-width: var(--max-width);
  margin: 1.6rem auto 0;
  padding: 0 var(--page-gutter);
  line-height: var(--line-height);
}

article section h2,article section h3{font-size: var(--font-size-h3)}
article section h4{font-size: smaller}
article section h5{text-align: right;font-size: var(--font-size)}

article section hr{
  width: 10ch;
  margin:2rem auto;
  border: 1px solid var(--color-medium);
}

article section iframe{
  margin:auto;
  padding:1rem 0;
  display: block;
  width: var(--max-width)
}

code{
  white-space: pre-wrap;
  display: block;
  padding: 1rem;
  background-color: var(--color-form);
  color: var(--color-light);
  border-radius: 4px;
  font-family: 'Monaco', 'Consolas', monospace;
  font-size: 0.8em;
  overflow-x: auto;  
}

/* Collection Pages */
main[itemtype$="CollectionPage"] {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: var(--top-height) auto 0;
  max-width: 90rem;
  padding: 0 var(--page-gutter);
}

main[itemtype$="CollectionPage"] nav *{
    margin:0;
}

main[itemtype$="CollectionPage"] nav{
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 0 1rem;
}

main[itemtype$="CollectionPage"] article{
  display:inline-block;
  position:relative;
  width:100%;
  min-width: 10rem;
  min-height: 13rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  text-align: left;
}

main[itemtype$="CollectionPage"] article img{
  object-fit: cover;
  width:100%;
  height:10rem;
  margin:0;
  background-color:var(--color-light)
}

main[itemtype$="CollectionPage"] article img.resume-img{height:12rem}

main[itemtype$="CollectionPage"] data{
  font-family: var(--font-headings);
  font-weight: bold;
  text-align: center;
  font-size: 1.35rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-contrast);
  color: var(--color-bg);
  min-width: 2rem;
}

main[itemtype$="CollectionPage"] h2{
  font-size: var(--font-size);
  font-weight: normal;
  margin: 0;
}

main[itemtype$="CollectionPage"] h3{
  display: inline;
  font-size: 1.2rem;
}

/* Books */
article[itemtype$="Book"] > section[itemprop="articleBody"] > h2:first-of-type {
  max-width: var(--max-width-wide);
  margin: 0 auto;
  padding: 0 var(--page-gutter);
  text-align: center;
  font-size: var(--font-size-h3);
  font-weight: normal;
}

h6{
  max-width: var(--max-width);
  font-size: var(--font-size);
  text-align: center;
  margin: 0.5rem auto 0;
  padding: 0 var(--page-gutter);
}

.book_genre{color:var(--color-medium);font-variant: small-caps}

/* Home */
main[itemtype$="AboutPage"]{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

main[itemtype$="AboutPage"] section h2{
  margin: 2rem 0 0.5rem;
}

main[itemtype$="AboutPage"] section h3{
  font-weight: normal;
  margin: 0;
}

/* Footer & Social */
footer section {
  display: grid;
  width: 8rem;
  margin: 1rem auto;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

footer section button,footer section a{
  display: block;
  width: 100%;
  text-align: center;
  background: transparent;
  border: none
}

a.icon_download:before{
  content: "\2913";
  font-size: 1.4em;
  color: var(--color-medium);
}
a.icon_friends:before{
  content: "\26AF";
  font-size: 1.4em;
  color: var(--color-medium);
}

/* Newsletter */
footer > div:last-of-type {
  font-family: var(--font-headings);
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
  gap: 1rem;
}

footer > div:last-of-type a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #e30613;
  color: var(--color-contrast);
  border-radius: 30px;
  padding: 10px 18px;
  font-size: 1rem;
  border: none;
}

.link-background{background: #7700ff !important}

/* Menu */
#menu{
  margin: var(--top-height) 0 0 0;
  padding: 0 var(--page-gutter);
  font-family: var(--font-headings);
  max-width:100%
}

#menu hr{
  margin: 1.5rem 0;
  border: 1px solid var(--color-contrast);
}

#menu h1{
  font-size: var(--font-size);
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: left;
}

#menu ul{margin: 0;padding: 0;max-width:100%}

#menu ul li{
  font-family: var(--font-headings);
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#menu ul li::before {content: none}

/* Search */
#search{
font-family: var(--font-headings);
margin-top: var(--top-height);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 60vh;
text-align: center;
}

#search ul li{
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0;
}

#search ul li::before {content: none}

/* Media Queries */
@media (max-width: 390px){
  :root{--font-size: 1rem}
}

@media (max-width: 60ch){
  label{margin-right: 0.5em}
  main[itemtype$="CollectionPage"] nav{gap: 0.5rem;justify-content: flex-start}
  main[itemtype$="CollectionPage"] nav h1{padding: 0;font-size: 1.2rem}
}

/*small screen */
@media (max-width: 80ch){
  article header figure img{height:40vh}
  h1 {font-size:calc(var(--font-size)*2)}
  #menu div{display: block}
  #menu ul li {display: block}
  #menu div a{width: 100%;min-height: 15vh;margin-bottom: 1em}
  iframe{width: 100%}
  main[itemtype$="CollectionPage"] nav{gap: 0.5rem;font-size: smaller}
  main[itemtype$="CollectionPage"] article{width: 32%}
}

@media (min-width: 120ch){
  main[itemtype$="CollectionPage"] article{width: 24%}
}